*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  padding-left: 10vw;
  padding-right: 10vw;
}
.header {
  display: flex;
  /* justify-content: space-between; */
}
.menu-container {
  display: flex;
  /* justify-content: space-evenly; */
  flex-grow: 1;
}
.menu {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}
.donate-btn {
  border: none;
  background: #c1f7d5;
  border-radius: 2.1vw;
  font: Bold 1.2vw Helvetica;
  display: inline-block;
  padding: 1vw 2vw 1vw 2vw;
  margin-top: 1.3rem;
}
.menu-items {
  font-size: 1.4vw;
}
/* tab mode  */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .header {
    justify-content: space-between;
  }
  .menu-container {
    flex-direction: column;
  }
  .logo {
    font-size: 3.4vw;
  }
  .menu {
    justify-content: flex-start;
  }
  .menu-items {
    font-size: 2.7vw;
    padding-right: 3.8vw;
  }
  .donate-btn {
    font-size: 2.3vw;
    border-radius: 40px;
    margin-top: 6vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
}
/* mobile mode  */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    padding-top: 5vw;
  }
  .header {
    flex-direction: column;
  }
  .logo {
    font-size: 5.4vw;
    flex-grow: 2;
    display: flex;
    align-items: center;
  }
  .menu {
    flex-direction: column;
  }
  .menu-items {
    font-size: 3.6vw;
    align-self: baseline;
    margin: 0.2rem;
  }
  .donate-btn {
    font-size: 3.5vw;
    height: 10vw;
    width: 100%;
    border-radius: 45px;
    text-align: center;
    padding-top: 2.5vw;
  }
}
